+b('div').history
	+e('ul').list
		+history-list([
			{
				title: '',
				text: 'Высший государственный колледж связи, Витебский филиал',
				year: '2010',
				icon: 'ico-college',
			}, 
			{
				title: '',
				text: 'Витебский государственный технологический университет',
				year: '2011',
				icon: 'ico-university',
			},
			{
				title: 'Front-end developer',
				text: '(курсы оцпвт)',
				year: '2014',
				icon: 'ico-front',
			},
			{
				title: 'PHP develeper',
				text: '(курсы оцпвт)',
				year: '2014',
				icon: 'ico-php',
			},
			{
				title: 'Design and graphic',
				text: '(курсы оцпвт)',
				year: '2014',
				icon: 'ico-design',
			},
			{
				title: 'Комплексное обучение веб-разработки',
				text: '(курсы Loftschool)',
				year: '2014',
				icon: 'ico-aim',
			},
			{
				title: 'Lepshey Studio',
				text: '',
				year: '2014',
				icon: 'ico-notebook',
			}
		])