.container {
	@include container;

	position: relative;
	height: 100%;
	padding-right: 345px;

	&__input {
		position: absolute;
		left: -999px;
	}

	&__input:checked ~ .header {
		width: 290px;
	}

	&:after {
		content: '';
		display: table;
		width: 100%;
	}
}
