.container {
	@include container;

	position: relative;
	min-width: 320px;
	height: 100%;
	padding-right: 345px;
	overflow: hidden;

	@include respond-to('ultrahuge') {
		padding-right: 290px;
	}

	@include respond-to('huge') {
		padding-right: 62px;
	}

	&__input {
		position: absolute;
		left: -999px;
	}

	&__input:checked ~ .header {
		width: 290px;
	}
}


