+b('div').portfolio
	+e('ul').list
		+portfolio-list([
			{
				title: 'Магазин бижутерии JewelTime',
				link: 'http://jeweltime.be/',
				preview: 'vis-portfolio-preview-jeweltime',
			},
			{
				title: 'Сайт студии Lepshey',
				link: 'http://lepshey.com/',
				preview: 'vis-portfolio-preview-lepshey',
			},
			{
				title: 'Сайт для Объединенного Кредитного Бюро',
				link: 'http://www.bki-okb.ru/',
				preview: 'vis-portfolio-preview-okb',
			},
			{
				title: 'Промо сайт для игры BattleGate',
				link: 'http://battle-gate.com/index.html',
				preview: 'vis-portfolio-preview-battlegate',
			}
		])
	include ../git/git 