+b('div').git
	+e('div').inner
		+e('a').link(href='https://github.com/dim2k2006', target='_blank')
			+e('div').wrapper._front
			+e('div').wrapper._back
				p 
					span < 
					span hello-
					span world
					span ! / >