mixin nav-link(links)
	each item in links
		+e('li').item
			+e('a').link(href= item.href, id= item.id, data-text= item.link)
				+e('span').icon
					+e('img').img(src='images/' + item.icon + '.svg')



mixin interests-list(list)
	each item in list
		+e('li').item
			+e('div').wrapper
				+e('span').text= item.title
				+e('img').icon(src='images/' + item.icon + '.svg')



mixin history-list(list)
	each item in list
		+e('li').item
			+e('div').col._left
				+e('div').img
					+e('img').icon(src='images/' + item.icon + '.svg')
			+e('div').col._right
				+e('div').content
					+e('h4').title= item.title
					+e('p').text= item.text


