extends ../jade/layout

block head
	- var pageDescription="ШРИ 2016";
	- var pageKeywords="ШРИ 2016";
	- var pageTitle="ШРИ 2016";

block content

	include ../jade/home

	include ../jade/experience

	include ../jade/portfolio

	include ../jade/shri