extends ../jade/layout

block head
	- var pageDescription="Главная";
	- var pageKeywords="Главная";
	- var pageTitle="Главная";

block content
	+b.content(id='home')
		h2 О себе
		p Some content

	+b.panel(id='experience')
		+b.content
			h2 Опыт веб-разработки
			p Some content

	+b.panel(id='portfolio')
		+b.content
			h2 Портфолио
			p Some content

	+b.panel(id='shri')
		+b.content
			h2 Ожидания от ШРИ
			p Some content