+b.panel(id='experience')
	+b('section').content
		+e.col._left(style='background-image: url(images/bg-experience.jpg);')
		+e.col._right
			h1 Опыт веб-разработки

			p Изначально работал на себя и разрабатывал исключительно сайты визитки. Позже стал адаптировать такие странички под системы управления контентом, в частности wordpress. Когда поступил на постоянное место работы начал разрабатывать более сложные интерфейсы. 

			include ../blocks/history/history 

			include ../blocks/copyRight/copyRight