+b('section').content(id='home')
	+e.col._left(style='background-image: url(images/bg-home.jpg);')
	+e.col._right
		h1 немного О себе

		h3 Здравствуйте, я Дмитрий Малофеев!

		p Родом из города Рига, Латвийская Республика. В Беларусь переехал с семьей в возрасте 5 лет. Закончил гимназию с иностранным уклоном. Высшее образование получил по специальности «Финансы и банковское дело». В университете очень заинтересовался веб разработкой, изначально изучал все сам, после чего записался на курсы в Образовательный центра парка высоких технологий в городе Минск. Закончил курсы по верстке, серверному программированию и дизайну. По окончании обучения был успешно принят на работу в ЧУП «Лепшей» на должность веб-технолога, где работаю в настоящий момент. В мои обязанности входит верстка html страниц по дизайн-макетам и работа с javascript.

		p В свободное от работы время стараюсь заниматься активным отдыхом: коньки, роллики, велосипед, сноуборд. Но, когда так не получается провожу время читая техническую или художественную литературу, смотрю кино или сериалы. 

		include ../blocks/interests/interests 

		include ../blocks/copyRight/copyRight