+b.panel(id='shri')
	+b('section').content
		+e.col._left(style='background-image: url(images/bg-experience.jpg);')
		+e.col._right
			h1 Ожидания от ШРИ

			p Ввиду того, что я уже участвовал в московской ШРИ 2015 года, я знаю что ШРИ это колоссальный и бесценный опыт на всю жизнь. Однако из-за того что в прошлый раз занятия были в другом городе, я не имел возможности посещать лекции и не смог присутствовать на защите проектов. Очень хочу исправить это в Школе Разработки Интерфейсов в Минске! 

			include ../blocks/copyRight/copyRight