+b(id='header', class='header')

	+b('label').burger(for='burger')
		+e('div').state._default
			+e('i').border
		+e('div').state._active
			+e('i').border

	+b('div').navigationWrapper

		+b('ul').navigation(id='navigation')
			+nav-link([
				{
					href: '#home',
					id: 'link-home',
					link: 'Немного о себе',
					icon: 'ico-home',
				}, 
				{
					href: '#experience',
					id: 'link-experience',
					link: 'Опыт веб-разработки',
					icon: 'ico-experience',
				},
				{
					href: '#portfolio',
					id: 'link-portfolio',
					link: 'Портфолио',
					icon: 'ico-portfolio',
				},
				{
					href: '#shri',
					id: 'link-shri',
					link: 'Ожидания от ШРИ',
					icon: 'ico-shri',
				}
			])
